<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Extract Text Summarizer</title>
  <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel= "stylesheet" href = "static\style.css">
  
</head>
<body>
<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Extractive Text Summarizer</h1>
    <p class="lead">An extractive summarization method is concatenating important sentences or paragraphs without understanding the meaning of those sentences</p>
  </div>
</div>

</div>
<div class="container" style = "display: flex; justify-content: space-around;">
    <p class="original col-sm-4">Original</p>
    <p class="summary col-sm-4">Summary</p>

</div>
<div class="container sep">
    <p class="origtxt col-sm-6">{{text}}</p>
    
    <p class="summtxt col-sm-6">{{summary}}</p>
    
</div>

<div class="container">
    <button class="btn btn-danger" type = "submit">Words of text:{{len_txt}}</button>
    <button class="btn btn-success" type = "submit">Words of summary:{{len_summ}}</button>
   
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
